:root{
    --primarycolo:#ecf0f3;
    --secondo:blue;
    --troiso:rgba(23, 24, 233, 0.3);
}
 
 body{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     
     overflow: hidden;
 }
h1{
    font-size: 4rem;
    color: white;
    text-align: center;
    transform: translateY(-50px);
    
}


span {
    opacity:  0;
    transition: transform 0.5s ease,opacity 0.5s ease, color 0.7s 0.7s ease;
    transform: translateY(50px);
    display: inline-block;
    box-shadow: 20px 20px 15px solid blue;
    
}
span.fade {
    opacity: 1 ;
    
    transform: translateY(0px);
    color: blue;
}



/*  le block contenant nos donnees de la premiere page */

.container-principal{
   width: 50vw;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translateY(-1.5rem);
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 12px #fff, 0px 0px 12px rgba(0, 0, 0, 0.5);
    border-radius: 50px 20px;
    text-align: center;
    margin-bottom: 40px;
    transform: translateY(-75px);
}

.container-principal h2{
    padding: 10px 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    text-shadow:  0px 0px 12px #ecf0f3;
}
.content p{
    text-align: justify;
    padding: 10px 10px;
    line-height: 1.5rem;
    font-size: 17px;
}
.box-input{
    position: relative;
    width:  300px;
    height: 35px;
    background-color: blue;
    border-radius: 30px 10px;
    margin-bottom: 20px;
    margin-left: auto;
    
}
input{
    width:  250px;
    height: 25px; 
    border-radius: 30px 10px;
    transform: translateY(5%);
    padding: 5px 10px;
    border: none;
    outline: none;

    border: 1px solid blue;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box-input:hover{
    opacity: 0.9;
    box-shadow: 0px 0px 5px black;
}
::placeholder{
    font-size: 1rem;
}
#bigin{
    /* position: absolute; */
    position: relative;
    height: 40px;
    right: 0;
    width: 180px;
    border-radius: 30px 10px;
    border: none;
    background-color: blue;
    cursor: pointer;
    /* text-align: right; */
    /* color: white; */
    margin: 10px 0px 10px 0px;
    transform: translateX(50%);
}
#bigin a{
    color: white;
    /* text-align: left; */
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#bigin:hover{
    box-shadow: inset 0px 0px 10px #ecf0f3;
    opacity: 0.9;
}
 /* ici c'est pour les blocks a l'interieur de notre grand block
.box-para,.box-para1,.box-para2{
    display: block;
    position: absolute;
    height: 70%;
    width: 30%;
    background-color: rgba(23, 24, 233, 0.8);
    border-radius: 50px 20px;
    box-shadow: inset 0px 0px 20px #ecf0f3 ;
    transition: box-shadow 0.2s ease-in-out;
    padding: 5px 10px;
}

.box-para1{
    position: absolute;
    top: 10;
    left: 0;
    transform: translateX(-70vh);
    animation-name: displayBox2;
    animation: displayBox2 1s 2.5s forwards ; 
    
}
.box-para2{
    position: absolute;
    top: 10;
    right:0;
    cursor: pointer;
    transform: translateX(70vh);
    animation-name: displayBox1;
    animation: displayBox1 1s 1.5s forwards ; 

   
    
    
}

.box-para:hover,.box-para2:hover,.box-para1:hover{
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.3) ;
}
.container-box{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.box-para h3,.box-para1 h3,.box-para2 h3{
    text-align: center;
    font-size: 1.3rem;
    color: #ecf0f3 ;
    transform: translateY(40%);
}
.box-input{
    position: relative;
    width: 15rem;
    height: 40px;
    border-radius: 20px;
    background-color: cadetblue;
    margin-top: 60px;
}
input{
    position: relative;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #ecf0f3;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: inset 0px 0px 5px #000;
    
    font-weight: bold;

    
}

::placeholder{
    color: rgba(23, 24, 233, 0.8);
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}
#commencer{
    height: 3.4rem;
    width: 9rem;
    text-align: center;
    transform: translate(35%,100%);
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    background-color: #ecf0f3;
    font-weight: bold;
    color: blue;
    outline: none;
    border: none;
    z-index: 9;
    border-radius: 30px 10px;

}
#bigin{
    height: 3.4rem;
    width: 9rem;
    text-align: center;
   
    transform:  translateX(35%);
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    background-color: #ecf0f3;
    font-weight: bold;
    color: blue;
    outline: none;
    border: none;
    z-index: 2;
    visibility: hidden;
    border-radius: 30px 10px;

}
#commencer:hover,#bigin:hover{
    opacity: 0.5;
    box-shadow: inset 0px 0px 12px #fff, 5px 5px 12px rgba(23, 24, 233, 0.3);
    transition: all 0.2s;
    margin-top: 2px;

}
@keyframes displayBox1{
    0%{
        transform: translateX(70vh);
    }
    100%{
        transform: translateX(0);
        visibility: 1;
    }
}
@keyframes displayBox2{
    0%{
        transform: translateX(-70vh);
    }
    100%{
        transform: translateX(0);
        visibility: 1;
    }
}

h2{
    position: absolute;
    bottom: -5%;
    right: 0;
} */